<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/landing.css') }}">
</head>
<body>
    <h1>SignUp</h1>
    <p class="subtitle">minimalist, simple to use, event manager</p>
    <div class="buttons-container">
        <a class="btn" href="{{ url_for('signup_page') }}">Sign Up</a>
        <a class="btn" href="{{ url_for('login_page') }}">Login</a>
        <a class="btn" href="{{ url_for('about_page') }}">About</a>
    </div>
</body>
</html>
